.big{
    font-size: 30px;
}
.rem{
    text-decoration: none;
    color: blueviolet;
}
.cursor{
    cursor:pointer;
}
.Row {
    display: table;
    border-spacing: 50px; /*Optional*/
    width: 1000px;
}
.Column {
    display: table-cell;
}
.description{
    text-align:center;
}